@font-face {
  font-family: "OpenSans-Light";
  src: url("fonts/OpenSans-Light-webfont.eot");
  src: url("fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Light-webfont.woff") format("woff"), url("fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html,
body {
  margin: 0;
  padding: 0;
  color: #666666;
  font-family: "OpenSans-Light", sans-serif; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

html {
  overflow-y: scroll; }

body {
  background: #e2e2e2; }

header,
section,
footer {
  display: block;
  width: 80%;
  margin: 0 10%;
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px solid #d2d2d2;
  background: transparent url(images/highlight.png) no-repeat 100% bottom; }

header {
  position: fixed;
  z-index: 999;
  background: rgba(226, 226, 226, 0.95) url(images/highlight.png) no-repeat 100% bottom; }

section {
  margin-top: 100px; }
  section h3 {
    margin-bottom: 60px; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

h2, h3 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 0 white; }

#process {
  margin-top: 300px; }
  #process #steps {
    display: block;
    position: relative;
    margin: auto;
    width: 689px;
    overflow: hidden;
    padding-left: 10px; }
    #process #steps h4 {
      text-shadow: 1px 1px 0 #eeeeee; }
    #process #steps li#strategy {
      background: transparent url(images/strategy.png) left top no-repeat;
      margin-right: -30px; }
      #process #steps li#strategy h4 {
        color: #c74e32; }
    #process #steps li#design {
      background: transparent url(images/design.png) left top no-repeat;
      margin-right: -30px; }
      #process #steps li#design h4 {
        color: #b6b100; }
    #process #steps li#build {
      background: transparent url(images/build.png) left top no-repeat; }
      #process #steps li#build h4 {
        color: #3a9aa9; }
    #process #steps li.step {
      display: block;
      margin: 0;
      float: left;
      width: 248px; }
      #process #steps li.step h4 {
        font-size: 28px;
        margin: 105px auto;
        text-align: center; }
      #process #steps li.step ul {
        padding-top: 30px; }
        #process #steps li.step ul li {
          display: block;
          text-align: center;
          font-size: 110%;
          line-height: 25px; }

#project {
  text-align: center;
  margin-top: 60px; }
  #project h3 {
    margin-bottom: 40px; }
  #project h4 {
    margin: auto;
    padding: 0;
    padding-top: 50px;
    background: transparent url(images/red-green-blue.png) center top no-repeat;
    font-size: 18px;
    margin-bottom: 10px; }
  #project p {
    width: 620px;
    padding: 0;
    text-align: center;
    margin: auto;
    color: #818181; }

#contact {
  margin-top: 60px; }
  #contact h3 {
    margin-bottom: 50px; }
  #contact form {
    display: block;
    width: 658px;
    border: 1px solid #d0d0d0;
    border-radius: 20px;
    margin: auto;
    background: url(images/pattern.png) top left;
    padding: 40px; }
    #contact form input, #contact form textarea {
      background-color: #ebebeb;
      border: 1px solid #d0d0d0;
      border-radius: 5px; }
    #contact form input {
      height: 30px;
      padding: 5px;
      font-size: 20px; }
    #contact form label {
      display: block; }

#footer {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  background: url(images/pattern.png) top left;
  display: block;
  height: 106px;
  margin-top: 160px; }

#footnote {
  background-color: #555555;
  overflow: hidden;
  padding: 0 40px; }
  #footnote li {
    float: left;
    width: 33%;
    text-align: center;
    color: #ebebeb;
    font-size: 14px;
    line-height: 40px; }
    #footnote li a {
      color: #ebebeb; }

img.scale-with-grid {
  max-width: 100%;
  height: auto; }
