!!!5
%html
  %head
    %title Gastown Labs
    %link{:type => 'text/css', :rel => 'stylesheet', :href => 'assets/app.css' }
    %script{:type => "text/javascript", :src => "assets/js/jquery-1.6.4.min.js"}
    %script{:type => "text/javascript", :src => "assets/js/jquery.scrollorama.js"}
    %script{:type => "text/javascript", :src => "assets/app.js"}
  %body
    %header#intro
      %img#logo.scale-with-grid{:src => 'assets/images/logo.png', :alt => 'Gastown Labs', :width => '792', :height =>  '115'}
      %h2 We Build Amazing Apps
      %br
      
    %section#process
      %h3 Our Process
      %ul#steps
        %li.step#strategy
          %h4 Strategy
          %ul
            %li Define problem
            %li Talk, sketch, plan
            %li Custom solutions
        %li.step#design
          %h4 Design
          %ul
            %li User centric
            %li Vision &amp; execution
            %li Polished product
        %li.step#build
          %h4 Build
          %ul
            %li Hand-crafted code
            %li Cloud &amp; scaling
            %li Test, test, release

    %section#project
      %h3 Recent Project
      %img#qwiqq{:src => 'assets/images/qwiqq.png', :alt => 'Screenshot of Qwiqq for iPhone', :width => '597', :height => '526'}
      %h4 Qwiqq iOS and web platform
      %p
        Skateboard brunch iphone, banksy tattooed seitan food truck. Wayfarers pitchfork +1, 
        portland high life sustainable american apparel next level jean shorts four loko seitan 
        tofu williamsburg. Brunch sustainable organic banh mi scenester.

    %footer